form {
    border: 2px solid blue;
}
.sub {
    width: 320px;
}
.name2 {
    display: flex;
    justify-content: center;
}


input[type="checkbox"]:checked  {
    width: 100px;
    height: 100px;
    background-color: red;
}
.numpizza {
    display: none;
}

.t2 .t3 .chektest input:checked + .numpizza {
    display: block;
}